* {margin:0;padding:0;}

html, body {height: 100%;}

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto Condensed', serif !important;
  font-size: 0.95em;
}

body.pull_up {
  padding-top: 0px !important;
}

/*Opera Fix*/
body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;
}

.navbar.navbar-static-top {
  margin-bottom: 35px;
}
.navbar.transparent.navbar-inverse .navbar-inner {
  background: rgba(0,0,0,0.85);
  border-bottom: 1px solid rgb(88, 88, 88);
  padding: 5px 0px 0px 0px;
}
.navbar.transparent.navbar-inverse .navbar-inner .container {
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition: margin .2s ease-in-out;
  -moz-transition: margin .2s ease-in-out;
  transition: margin .2s ease-in-out;
}
.navbar.navbar-inverse .navbar-inner {  
  padding: 10px 0px 10px 0px;
  background: #252528;    
}
.navbar.navbar-inverse .navbar-inner.sticky {
  background: rgba(0,0,0,0.8);
  border-bottom: 1px solid #252525;
}
.navbar-inverse .navbar-inner.sticky .container {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.navbar-inverse .nav > li > a {
  font-weight: bold;
  color: #fff;
  opacity: 0.6;
  filter: alpha(opacity=60);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}
.navbar-inverse .nav > li > a:hover,
.navbar-inverse .nav > li > a.active {
  color: #fff;
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar-inverse .dropdown-menu {
  background: #252528;
}
.navbar-inverse .nav > li > .dropdown-menu::after {
  border-bottom: 6px solid #252528;
}
.navbar-inverse .dropdown-menu li > a {
  color: #fff;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  text-decoration: none;
}

#wrap {
  min-height: 100%;
  padding-top: 100px;
}

#wrap h1, #wrap h2 {
  border-bottom: 1px solid black; 
}

#wrap h3 {
  padding: 7px;
  margin: 35px 0 10px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #F3EEB7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  /*border-radius: 4px;*/
  /*-webkit-border-radius: 4px;*/
  /*-moz-border-radius: 4px;*/
  font-family: 'Roboto', sans-serif !important;
}

h3, h4 {
}

hr {
  margin: 30px 0px 30px 0px;
  border-top: 1px solid #cccccc;
}

#hero {
  padding: 150px 0px 50px 0px;
  background-image: url('/images/hero.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% 100%;
}

#hero h1 {
  margin: 10px 0px 15px -5px;
}

#hero .mainblurb {
  padding: 20px 50px 0px 0px;
}

#hero .btn-large {
  font-size: 1.1em;
  font-weight: bolder;
  margin-top: 15px;
  padding: 15px 30px;
}

#hero .header {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.0em;
  font-weight: bold;
  line-height: 20px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

#hero .version {
  font-size: 2.0em;
  font-weight: bolder;
  line-height: 25px;
  padding-left: 5px;
}
#hero .release {
  font-size: 0.9em;
  font-style: italic;
  padding-left: 5px;
}

.heroblurb {
  opacity:0.6;
  filter:alpha(opacity=50);
}

.heroblurb hr {
  margin: 10px 0px;
}

a:hover {
  text-decoration: none;
}

/* navbar css tweaks */
.navbar .brand {
  padding: 7px 0px 0px 0px;
}

.navbar .brand .logo {
  height: 45px;
}

.navbar.nav > li > a {
  padding: 15px 10px 10px 10px;
}

/* carousel tweaks */
.carousel-inner {
}

.carousel-inner .item > div {
  text-align: center;
}

.carousel-img {
  display: inline;
  height: 75px;
  padding-top: 20px;
}

.logolist {
  margin-bottom: 25px;
}

.userlogo {
  text-align: center;
  padding: 10px 0px;
}

i.icon-med {
  font-size: 1.25em;
}

.center {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

.box_rotate {
     -moz-transform: rotate(-90deg);  /* FF3.5+ */
       -o-transform: rotate(-90deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-90deg);  /* Saf3.1+, Chrome */
             filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.5);  /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.5)"; /* IE8 */
}

/* Footer */
footer {
  text-size: 0.95em;
  min-height: 200px;
  margin-top: 30px;
  background-color: #262626;
  color: #fff;
  padding: 35px 0px 35px 0px;
}

/* blog posts */
footer .posts {
  margin-top: 10px;
}
posts .post {
  border-bottom: 1px solid black;
}
.posts .post:last-child {
  border: none;
}
.posts .post .title {
  display: block;
  color: #b5b5b6;
  margin: 0px;
  font-size: 0.95em;
}
.posts .post .author{
  margin: 0px;
  font-size: 0.8em;
  font-style: italic;
}
.posts .post .content {
  margin: 7px 0px 0px 0px;
  font-size: 0.85em;
}

footer .credits {
}
footer .credits .social {
  margin-top: 10px;
}
footer .credits .attributions {
  margin-top: 10px;
}
footer .credits .attributions .attribution {
  font-size: 0.85em;
}
footer .credits .copyright {
  margin-top: 10px;
}
footer .footmenu {
  margin-top: 10px;
  padding-left: 0px;
}
footer .sitemap {
  margin-left: 0px;
}
footer .sitemap .nav {
  margin-left: 0px;
  padding-left: 0px;
}

footer .column_header {
  /* copied from bootstrap's nav-header css */
  display: block;
  padding: 3px 0px;
  margin-bottom: 0px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

footer .ending {
  font-size: 0.8em;
  /*text-align: center;*/
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid black;
}

footer .browsers {
  /*text-align: center;*/
  margin-top: 10px;
}

footer .browsers i {
  padding: 0px 5px;
}

/* nav list in footer */
.nav-list > li > a {
  text-shadow: none;
}
