.hero {
  padding: 80px 0 45px 0;
  background-image: url('/images/hero.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%;
}

#matrix-svg {
  height: 1em;
  width: 1em;
}

#matrix-svg {
  color: #ffffff;
  fill: #ffffff;
}
