---
layout: default
title: Blog
breadcrumb: Blog
---

<div class="container">
<!-- Pagination links -->
 <div class="row-fluid">
  <div class="pagination">
   <ul>
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <li><a href="/posts/"><i class="icon-angle-left"></i></a></li>
    {% else %}
    <li><a href="/posts/page{{paginator.previous_page}}"><i class="icon-angle-left"></i></a></li>
    {% endif %}
  {% else %}
    <li class="disabled"><span><i class="icon-angle-left"></i></span></li>
  {% endif %}

  {% if paginator.page == 1 %}
    <li class="active"><span>1</span></li>
  {% else %}
    <li><a href="/posts/">1</a></li>
  {% endif %}

  {% for count in (2..paginator.total_pages) %}
    {% if count == paginator.page %}
    <li class="active"><span>{{count}}</span></li>
    {% else %}
    <li><a href="/posts/page{{count}}">{{count}}</a></li>
    {% endif %}
  {% endfor %}
  {% if paginator.next_page %}
    <li><a href="/posts/page{{paginator.next_page}}"><i class="icon-angle-right"></i></a></li>
  {% else %}
    <li class="disabled"><span><i class="icon-angle-right"></i></span></li>
  {% endif %}
   </ul>
  </div>
 </div>

{% for post in paginator.posts %}
 <div class="row-fluid">
  <div class="span10 posts">
   <div class="post">
    <h2 class="header">{{ post.title }}</h2>
    <div class="author"><i>Posted by {{ post.author }} on {{ post.date | date: "%A, %B %d, %Y" }}</i></div>
    <div class="content">{{ post.summary }}</div>
    <div class="readmore"><a href="{{ post.url }}"><i class="icon-double-angle-right"></i> continue reading</a></div>
   </div>
  </div>
 </div>
{% endfor %}
</div>
