<!-- end content -->

<footer class="mt-auto bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-1">
                <h5>Pages</h5>
                <ul class="list-unstyled">
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog/">Blog Posts</a></li>
                    <li><a href="/about.html">About Cobbler</a></li>
                </ul>
            </div>
            <div class="col-1">
                <h5>Manuals</h5>
                <ul class="list-unstyled">
                    <li><a href="https://cobbler.readthedocs.io/en/latest/quickstart-guide.html">Quickstart</a></li>
                    <li><a href="https://cobbler.readthedocs.io/en/latest/index.html">Documentation</a></li>
                    <li><a href="https://cobbler.readthedocs.io/en/latest/developer-guide.html">Developer</a>
                    </li>
                </ul>
            </div>
            <div class="col-1">
                <h5>Community</h5>
                <ul class="list-unstyled">
                    <li><a href="/community.html">How to Get Help</a></li>
                    <li><a href="/supporters.html">Supporters</a></li>
                    <li><a href="/users.html">Who's Using Cobbler</a></li>
                </ul>
            </div>
            <div class="col-1">
                <h5>Github</h5>
                <ul class="list-unstyled">
                    <li><a href="https://github.com/cobbler/cobbler">Code Repository</a></li>
                    <li><a href="https://github.com/cobbler/cobbler/issues">Issue Tracker</a></li>
                    <li><a href="https://github.com/cobbler/cobbler/wiki">Wiki</a></li>
                </ul>
            </div>
            <div class="col-4">
                <h5>Recent Posts:</h5>
                {% for post in site.posts limit:4 %}
                <div class="post">
                    <p class="title"><a href="{{ post.url}}">{{ post.title}}</a></p>
                    <p class="author">Posted by {{ post.author }} on {{ post.date | date: "%A, %B %d, %Y" }}</p>
                </div>
                {% endfor %}
            </div>
            <div class="col-4 credits">
                <div class="social">
                    <a href="https://twitter.com/cobblerproject?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="true">Follow @cobblerproject</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <div class="attributions">
                    <p class="column_header">Attributions:</p>
                    <div class="attribution">"Lens Flare", by <a href="http://creativity103.com/"><img
                            src="/images/creativity103.gif"/></a></div>
                    <div class="attribution">"Gears", by <a href="https://unsplash.com/@bill_oxford" rel="nofollow">Bill
                        Oxford</a></div>
                </div>
                <div class="copyright">
                    <p>All other content, &copy; <span id="copyyear"></span><br/>by James Cammarata</p>
                    <script>document.querySelector("#copyyear").innerText = (new Date).getFullYear();</script>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
