<!-- end content -->

<footer class="mt-auto bg-dark text-white">
    <div class="container py-3">
        <div class="row">
            <div class="col-2">
                <h5>Pages</h5>
                <ul class="list-unstyled">
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog/">Blog Posts</a></li>
                    <li><a href="/about.html">About Cobbler</a></li>
                </ul>
            </div>
            <div class="col-2">
                <h5>Manuals</h5>
                <ul class="list-unstyled">
                    <li><a href="https://cobbler.readthedocs.io/en/latest/quickstart-guide.html">Quickstart</a></li>
                    <li><a href="https://cobbler.readthedocs.io/en/latest/index.html">Documentation</a></li>
                    <li><a href="https://cobbler.readthedocs.io/en/latest/developer-guide.html">Developer</a>
                    </li>
                </ul>
            </div>
            <div class="col-2">
                <h5>Community</h5>
                <ul class="list-unstyled">
                    <li><a href="/community.html">How to Get Help</a></li>
                    <li><a href="/supporters.html">Supporters</a></li>
                    <li><a href="/users.html">Who's Using Cobbler</a></li>
                </ul>
            </div>
            <div class="col-2">
                <h5>Github</h5>
                <ul class="list-unstyled">
                    <li><a href="https://github.com/cobbler/cobbler">Code Repository</a></li>
                    <li><a href="https://github.com/cobbler/cobbler/issues">Issue Tracker</a></li>
                    <li><a href="https://github.com/cobbler/cobbler/wiki">Wiki</a></li>
                </ul>
            </div>
            <div class="col-2">
                <h5>Attributions:</h5>
                <ul class="list-unstyled">
                    <li>
                        "Lens Flare", by <a href="https://creativity103.com/"><img src="/images/creativity103.gif"/></a>
                    </li>
                    <li>"Gears", by <a href="https://unsplash.com/@bill_oxford" rel="nofollow">Bill Oxford</a></li>
                    <li><p>All other content, &copy; <span id="copyyear"></span><br/>by the Cobbler Project</p>
                        <script>document.querySelector("#copyyear").innerText = (new Date).getFullYear();</script>
                    </li>
                </ul>
            </div>
            <div class="col-2">
                <h5>Social</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://twitter.com/cobblerproject?ref_src=twsrc%5Etfw" class="twitter-follow-button"
                           data-show-count="false">Follow @cobblerproject</a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
