<header class="p-3 bg-dark text-white">
    <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
        <nav class="dropdown">
            <a class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 text-white text-decoration-none dropdown-toggle"
               href="#" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownNav">
                <img class="logo" src="/images/logo-cobbler-new.svg" alt="Cobbler Logo" height="50px"/>
                <span class="ms-2 fs-4">Cobbler</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark shadow" aria-labelledby="dropdownNav">
                <li class="nav-item px-2">
                    <a class="text-white text-decoration-none" href="/" title="Home">
                        <i class="fas fa-home"></i> Home
                    </a>
                </li>
                <li class="nav-item px-2">
                    <a class="text-white text-decoration-none" href="/about.html" title="About">
                        <i class="fas fa-cloud"></i> About
                    </a>
                </li>
                <li class="nav-item px-2">
                    <a class="text-white text-decoration-none" href="/blog/" title="Blog Posts">
                        <i class="fas fa-blog"></i> Blog Posts
                    </a>
                </li>
                <li class="nav-item px-2 dropdown">
                    <a class="dropdown-toggle text-white text-decoration-none" href="#" role="button"
                       id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-cloud-download-alt"></i> Downloads
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenu2">
                        <li><a class="dropdown-item" href="/downloads/3.x.x.html">3.x.x</a></li>
                        <li><a class="dropdown-item" href="/downloads/2.x.x.html">2.x.x</a></li>
                    </ul>
                </li>
                <li class="nav-item px-2 dropdown">
                    <a class="dropdown-toggle text-white text-decoration-none" href="#" role="button"
                       id="dropdownMenu3" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-users"></i> Community
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenu3">
                        <li>
                            <a class="dropdown-item" href="/community.html" title="How to Get Help">
                                How to Get Help</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/supporters.html"
                               title="Supporters of Cobbler">Supporters</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/users.html" title="Cobbler Users">Who's Using
                                Cobbler</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item px-2 dropdown">
                    <a class="dropdown-toggle text-white text-decoration-none" href="#" role="button"
                       id="dropdownMenu4" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fab fa-github"></i></i> Github</a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li>
                            <a class="dropdown-item" href="https://github.com/cobbler/cobbler"
                               title="Main Repository"
                               target="_blank">Main Repo</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="https://github.com/cobbler/cobbler/issues"
                               title="Issues"
                               target="_blank">Issue Tracker</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="https://github.com/cobbler/cobbler/wiki"
                               title="Github Wiki"
                               target="_blank">Wiki</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="d-flex align-items-center justify-content-end">
            <form class="d-flex align-items-center" action="/search.html" method="get">
                <label style="display: none" for="search-box">Search</label>
                <input class="st-search-input me-1" type="text" id="search-box" placeholder="Search" name="query">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</header>
