---
layout: default
---
<div class="container">
    <div class="row">
        <div class="row">
            <ul class="pagination">
                {%- if page.next.url -%}
                <li class="page-item">
                    <a class="page-link" href="{{ page.next.url }}"><i class="icon-angle-left"></i> {{
                        page.next.title }}</i></a>
                </li>
                {%- endif -%}
                {%- if page.previous.url -%}
                <li class="page-item">
                    <a class="page-link" href="{{ page.previous.url }}">{{ page.previous.title }} <i
                            class="icon-angle-right"></i></a>
                </li>
                {%- endif -%}
            </ul>
        </div>
        <div class="row">
            <h2 class="header">{{ page.title }}</h2>
        </div>
        <div class="row">
            <div class="">
                <i>Posted by {{ page.author }} on {{ page.date | date: "%A, %B %d, %Y" }}</i>
            </div>
        </div>
        <div class="row content">
            {{ content }}
        </div>
        <div class="row">
            {% include disqus.html %}
        </div>
        <div class="row">
            {% assign postsByYearMonth = site.posts | group_by_exp:"post", "post.date | date: '%Y %b'" %}
            {% assign curDate = page.date | date: '%Y %b' %}
            {%- for yearMonth in postsByYearMonth -%}
            {%- if yearMonth.name == curDate -%}
            <h2 class="header">Related posts in {{ yearMonth.name }}</h2>
            <div class="container">
                <div class="row row-cols-auto">
                    {%- for blogpost in yearMonth.items -%}
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                {{ blogpost.title }}
                            </div>
                            <div class="card-body">
                                <div class="card-text"><i>Posted on {{ blogpost.date | date: '%B %d, %Y' }}</i></div>
                                <a class="btn btn-primary mt-2" href="{{ blogpost.url }}">Read more</a>
                            </div>
                        </div>
                    </div>
                    {%- endfor -%}
                </div>
            </div>
            {%- endif -%}
            {%- endfor -%}
        </div>
    </div>
</div>

